@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Clicker+Script&family=Dancing+Script:wght@400..700&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background-color-1) !important;
  height: 100vh !important;
  width: 100% !important;
  font-family: "Poppins", sans-serif !important;
}

/* Nav bar section design start */
h1,
h2,
h3 {
  margin: 0 !important;
}

.home {
  height: 100vh;
}
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 0 !important;
}

.navbar-mobile-view {
  top: 0;
  z-index: 1000;
  position: fixed;
  padding: 0 6%;
  width: 100%;
  height: 15vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0 !important;
  color: var(--font-color);
  background-color: var(--background-color-1);
  flex-wrap: nowrap;
}

.navbar-my-name {
  justify-self: flex-start;
  font-size: 30px;
  font-weight: 500;
  position: relative;
  padding-right: 15px;
  cursor: pointer;
  transition: transform 0.3s ease-in;
  text-align: center;
}

.navbar-my-name:hover {
  transform: scale(1.1);
}

.navbar-my-name::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 15px;
  height: 15px;
  border-top: 3px solid var(--theme-color);
  border-left: 3px solid var(--theme-color);
}

.navbar-my-name::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  bottom: 0;
  right: 0;
  border-bottom: 3px solid var(--theme-color);
  border-right: 3px solid var(--theme-color);
}

.navbar-my-name-S {
  font-family: "Dancing Script", cursive;
  font-size: 50px;
  font-weight: 700;
  font-style: italic;
  margin-right: 7px;
  color: var(--theme-color);
  text-shadow: 0 0 35px var(--theme-color);
}

.navbar-options {
  justify-self: flex-end;
  margin-left: 10rem;
  flex-grow: 1;
  display: flex !important;
  text-align: center;
  justify-content: space-around;
}

.navbar-section {
  margin-right: 3rem;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  color: var(--font-color);
  transition: color 0.3s ease;
  transition: border-bottom 0.2s ease;
}
.normal {
  color: var(--font-color) !important;
}

.navbar-section.active,
.navbar-section:hover {
  color: var(--theme-color) !important;
  border-bottom: 3px solid var(--theme-color);
  background-color: transparent !important;
}

.navbar-section:visited {
  color: var(--font-color);
}

a {
  text-decoration: none !important;
}

.navbar-mobile-bar {
  display: none;
  margin-top: 3rem;
}

.nav-cv-in-mobile {
  display: none;
}

@media (max-width: 1100px) {
  .navbar-my-name {
    font-size: 25px;
  }

  .navbar-my-name-S {
    font-size: 50px;
  }

  .navbar-section {
    font-size: 16px;
  }
}

@media (max-width: 970px) {
  .navbar-my-name-S {
    font-size: 35px;
  }

  .navbar-my-name {
    font-size: 22px;
  }

  .navbar-options {
    margin-left: 5rem;
  }

  .navbar-section {
    margin-right: 1.5rem;
    font-size: 15px;
  }
}

@media (max-width: 900px) {
  .navbar-options {
    position: absolute;
    z-index: 1;
    right: -80rem;
    top: 11vh;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    height: 89vh;
    display: none;
    padding-top: 1rem;
  
  }

  .navbar-section {
    margin-bottom: 3rem;
    width: 100%;
    display: none;
    margin-right: 0;

  }

  .navbar-mobile-bar {
    display: block;
  }

  .navbar {
    margin-bottom: 0 !important;
    padding: 0 6%;
    height: 15vh;
  }

  .nav-cv-in-mobile {
    width: 20rem;
    margin-top: 35vh;
    margin-bottom:2rem ;
    justify-content: center;

  }

  .navbar-mobile-view {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 15vh;
  }
  .navbar-section{
    color: var(--background-color-1);
  }
  .navbar-my-name {
    margin-top: 1rem;
    margin-bottom: 2rem;
  }
  .fa-bars {
    color: var(--theme-color);
    font-size: 3rem;
  }
  .navbar-my-name-S {
    font-size: 40px;
  }
  .normal{
    color: var(--background-color-1) !important;
  }
  .navbar-section.active,
.navbar-section:hover {
  border-bottom: none;
}
}
@media (max-width: 700px) {
  .navbar-my-name-S {
    font-size: 30px;
  }
  .fa-bars {
    color: var(--theme-color);
    font-size: 2.3rem;
  }
}
@media (max-width: 350px) {
  .navbar-my-name-S {
    font-size: 28px;
  }
  .fa-bars {
    color: var(--theme-color);
    font-size: 2rem;
  }
  .navbar {
    width: 100%;
  }
  .navbar-section {
    font-size: 13px;
    margin-bottom: 1rem;
  }
  .navbar-mobile-view {
    padding: 0;
  }
}

/* Nav bar section design end */

/* Home section design start ... */
.home-section {
  padding: 0 6%;
  height: 85vh;
  display: flex;
  width: 100%;
  color: var(--font-color);
}

.home-section-intro {
  width: 60%;
  padding-top: 5rem;
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.home-section-intro-paragraph {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.home-section-intro-paragraph .home-section-my-name {
  font-size: 6rem;
}

.home-section-intro-paragraph .home-section-my-name span {
  position: relative;
}

.home-section-intro-paragraph .home-section-my-name span::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: var(--background-color-1);
  animation: showRight 1s ease forwards;
  animation-delay: 0.6s;
}

.home-section-my-positions span {
  position: relative;
}

.home-section-my-positions span::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: var(--background-color-1);
  animation: showRight 1s ease forwards;
  animation-delay: 1s;
}

@keyframes showRight {
  100% {
    width: 0;
  }
}

.home-section-intro-paragraph h3 {
  font-size: 4.5rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.home-section-my-name span {
  color: var(--theme-color);
}

.home-section-my-positions span {
  color: var(--theme-color);
  font-size: 38px;
}

.home-section-my-description {
  margin-top: 1.5rem;
  letter-spacing: 1px;
  text-align: justify;
  font-size: 16px;
}

.home-section-social-media {
  margin-top: 6.5rem;
  margin-bottom: 2rem;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.home-section-social-media a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 4.5rem;
  width: 4.5rem;
  border-radius: 50%;
  border: 3px solid var(--theme-color);
}

.home-section-social-media a:hover {
  box-shadow: 0 0 25px var(--theme-color);
  transform: scale(1.3);
}

.fa-brands {
  color: var(--theme-color);
  font-size: 30px;
}

.home-section-pro-picture {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 85vh;
  width: 40%;
  justify-content: center;
  align-items: center;
  margin-left: 4%;
}

.home-section-pro-picture img {
  height: auto;
  width: 100%;
}

.home-section-pro-picture img:hover {
  transition: opacity 1s ease;
  opacity: 0.2;
}

.nav-cv-in {
  margin-top: 2rem;
  width: 300px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.navbar-cv {
  cursor: pointer;
  font-size: 18px;
  border: 3px solid var(--theme-color);
  padding: 13px 17px;
  font-weight: 600;
  transition: transform 0.3s ease;
  border-radius: 25px;
  text-align: center;
  box-shadow: 0 0 25px var(--theme-color);
}
.navbar-cv a{
  color: var(--theme-color);
}
.navbar-cv:hover {
  background-color: var(--theme-color);
  transform: scale(1.1);
  box-shadow: 0 0 5px var(--theme-color), 0 0 5px var(--theme-color),
    0 0 25px var(--theme-color);
  font-weight: 700;
}
.navbar-cv:hover a{
  color: var(--background-color-1);
}
.mobile-view-home-section {
  display: none;
}

@media (max-width: 1250px) {
  .home-section-intro {
    padding-top: 3rem;
  }

  .home-section-intro-paragraph h3 {
    margin-top: -0.5rem;
  }

  .home-section-intro-paragraph .home-section-my-description {
    margin-top: 1rem;
  }
}

@media (max-width: 1150px) {
  .home-section-pro-picture img {
    height: auto;
    width: 100%;
  }

  .home-section-intro {
    width: 57%;
  }

  .home-section-intro-paragraph h3 {
    width: 100%;
  }

  .home-section-intro-paragraph {
    width: 100%;
  }

  .navbar-cv {
    margin-top: 0rem;
  }

  .home-section-social-media {
    margin-top: 3rem;
  }
}

@media (max-width: 970px) {
  .home-section-intro {
    width: 68%;
  }
  .home-section-intro-paragraph {
    width: 100%;
  }

  .home-section-my-description {
    letter-spacing: 1px;
    text-align: justify;
  }
  .home-section-my-positions {
    font-size: 8rem;
  }
}

@media (max-width: 900px) {
  .home-section {
    display: none;
  }

  .mobile-view-home-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 85vh;
    padding: 1% 6%;
  }

  .mobile-view-home-section h1 {
    font-size: 4.5rem;
    width: 100%;
    color: var(--font-color);
    text-align: center;
  }

  .mobile-view-home-section h1 span {
    color: var(--theme-color);
  }

  .mobile-view-home-section h3 {
    color: var(--font-color);
    text-align: center;
    font-size: 3rem;
  }

  .mobile-view-home-section h3 span {
    color: var(--theme-color);
  }

  .mobile-view-home-section p {
    color: var(--font-color);
    font-size: 18px;
    text-align: center;
    margin-top: 1rem;
    word-spacing: 2px;
    margin-bottom: 0px;
  }

  .mobile-view-home-section-pro-picture {
    text-align: center;
  }

  .mobile-view-home-section-pro-picture img {
    height: 35vh;
    max-width: auto;
  }

  .mobile-view-home-section-social-media {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;
  }

  .mobile-view-home-section-social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 4.5rem;
    width: 4.5rem;
    border-radius: 50%;
    border: 3px solid var(--theme-color);
  }

  .mobile-view-home-section-social-media a:hover {
    box-shadow: 0 0 25px var(--theme-color);
    transform: scale(1.3);
  }

  .fa-brands {
    font-size: 3rem;
  }

  .mobile-view-home-section-my-positions span {
    position: relative;
  }

  .mobile-view-home-section-my-positions span::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: var(--background-color-1);
    animation: showRight 1s ease forwards;
    animation-delay: 1s;
  }

  @keyframes showRight {
    100% {
      width: 0;
    }
  }

  .mobile-view-home-section-my-name span {
    position: relative;
  }

  .mobile-view-home-section-my-name span::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: var(--background-color-1);
    animation: showRight 1s ease forwards;
    animation-delay: 1s;
  }

  @keyframes showRight {
    100% {
      width: 0;
    }
  }
  .navbar-cv{
    font-size: 16px;
    padding: 10px 14px;
    background-color: var(--background-color-1);
   
  }
}

@media (max-width: 700px) {
  .mobile-view-home-section h1 {
    font-size: 3.5rem;
  }
  .mobile-view-home-section h3 {
    font-size: 27px;
  }
  .mobile-view-home-section p {
    font-size: 16px;
  }
  .fa-brands {
    font-size: 2rem;
  }
  .mobile-view-home-section-social-media a {
    height: 3.5rem;
    width: 3.5rem;
  }
  .mobile-view-home-section-pro-picture img {
    height: 30vh;
    width: auto;
  }
  .navbar-cv{
    font-size: 14px;
    padding: 9px 10px;
  
   
  }
}
@media (max-width: 350px) {
  .mobile-view-home-section {
    height: 85vh;
  }
  .mobile-view-home-section h1 {
    padding-top: 1rem;
    font-size: 2.5rem;
  }
  .mobile-view-home-section h3 {
    font-size: 18px;
  }
  .mobile-view-home-section p {
    font-size: 12px;
  }
  .fa-brands {
    font-size: 1.75rem;
  }
  .mobile-view-home-section-social-media a {
    height: 3rem;
    width: 3rem;
  }
  .navbar-cv{
    font-size: 13px;
    padding: 7px 8px;
  
   
  }
}

/* Home section design end ...  */

/* About section design start ... */
.about-section {
  height: 100vh;
  width: 100%;
  padding: 0 6%;
  background-color: var(--background-color-2);
}
.about-section-heading{
  padding-top: 20vh;
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.about-section-body-profile-pic {
  display: flex;
  height: 85vh;
  width: 45%;
  justify-content: center;
  align-items: center;
}
.about-section-body-profile-pic img {
  height: 350px;
  width: 350px;
  object-fit: cover;
  border-radius: 50%;
  background-color: var(--background-color-1);
  border: 3px solid var(--theme-color);
  box-shadow: 0 2px 4px 4px var(--theme-color);
}
.about-section-body-profile-pic img:hover {
  box-shadow: 0 0 25px var(--theme-color), 0 0 25px var(--theme-color),
    0 0 25px var(--theme-color);
}

.about-section-body {
  height: 83vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about-section h1 {
  font-size: 4rem;
  font-weight: 800;
  text-align: center;
  color: var(--font-color);
  margin-top: 0rem;
}
.about-section-body-description {
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}
.about-section-body-description-my-name {
  font-size: 3.75rem;
  color: var(--theme-color);
  margin-bottom: 3rem;
  font-weight: 600;
}
li {
  list-style: none;
  color: var(--font-color);
  font-size: 20px;
  margin-bottom: 2rem;
}
li span {
  font-weight: 700;
}

@media (max-width: 900px) {
  .about-section-body {
    flex-direction: column;
    justify-content: space-between;
    height: 80vh;
  }
  .about-section-body-profile-pic {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40vh;
  }
  .about-section-body-profile-pic img {
    height: 270px;
    width: 270px;
  }
  .about-section-body-description {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .about-section-body-description-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 35vh;
  }

  .about-section-body-description-my-name {
    font-size: 3.25rem;
    text-align: center;
  }
  li {
    font-size: 18px;
  }
  .about-section h1 {
    font-size: 3.75rem;
  }
  .about-section-body-description-my-name {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}
@media (max-width: 700px) {
  .about-section h1 {
    font-size: 3.5rem;
  }
  .about-section-body-profile-pic {
    width: 100%;
    height: 40vh;
  }
  .about-section-body-profile-pic img {
    height: 250px;
    width: 250px;
  }
  .about-section-body-description {
    width: 100%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .about-section-body-description-my-name {
    text-align: center;
    font-size: 3rem;
  }

  .about-section-body-description-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }
  li {
    margin-bottom: 1rem;
    font-size: 16px;
  }
}

@media (max-width: 380px) {
  .about-section-body-profile-pic img {
    height: 225px;
    width: 225px;
  }
  .about-section h1 {
    font-size: 3.25rem;
  }
  .about-section-body-description-my-name {
    font-size: 2.55rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  li {
    font-size: 15px;
  }
}
/* About section design end ... */

/* education section start ... */
.education-section {
  height: 100vh;
  padding: 0 6% 3%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
 
.education-section-header{
  padding-top: 20vh;
  height: 15vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.education-section-header h1 {
  font-size: 4rem;
  color: var(--font-color);
  font-weight: 800;
}

.education-timeline-items {
  max-width: 1280px;
  height: 85vh;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.education-timeline-items:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 5px;
  background-color: var(--theme-color);
}

.education-timeline-item {
  display: flex;
  width: 100%;
  position: relative;
  color: var(--font-color);
}

.education-timeline-item:last-child {
  margin-bottom: 0;
}

.education-timeline-item:nth-child(odd) {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 49.25%;
  text-align: right;
}

.education-timeline-item:nth-child(even) {
  display: flex;
  flex-direction: column;
  padding-left: 49.25%;
}

.timeline-dot {
  height: 21px;
  width: 21px;
  border-radius: 50%;
  background-color: var(--theme-color);
  box-shadow: 0 0 25px var(--theme-color), 0 0 50px var(--theme-color);
}

.timeline-body {
  margin: -2rem 5rem;
}

.timeline-content {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  position: relative;
  margin-top: 1rem;
  border: 3px solid var(--theme-color);
  padding: 1rem 3rem;
  border-radius: 30px;
}

.timeline-content:hover {
  color: var(--background-color-1);
  transition: 1s ease;
  box-shadow: 0 0 25px var(--theme-color);
}

.timeline-content:hover ::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--theme-color);
  animation: educationSection 1s ease ;
  z-index: -1;
  border-radius: 26px;
}

@keyframes educationSection {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

.timeline-date {
  font-size: 18px;
  font-weight: 700;
}

.timeline-content h3 {
  font-weight: 800;
}

.timeline-content p {
  font-size: 16px;
  font-weight: 500;
}
.timeline-content h3{
  margin: 1rem 0 !important;
}
@media(max-width:1100px){
  .timeline-date {
    font-size: 17px;
    font-weight: 700;
  }
  
  .timeline-content h3 {
    font-weight: 800;
    font-size: 20px;
  }
  
  .timeline-content p {
    font-size: 14px;
    font-weight: 500;
  }
}

@media (max-width: 950px) {
  .education-timeline-item:nth-child(odd) {
    padding-right: 48.9%;
  }

  .education-timeline-item:nth-child(even) {
    padding-left: 48.9%;
  }

  .timeline-content p {
    font-size: 14px;
  }

  .timeline-content {
    padding: 1rem 2rem;
  }
}



@media (max-width: 900px) {
  
.education-section-header h1{
  font-size: 3.75rem;
}
  .education-timeline-items {
    display: block;
    margin-left: 8%;
    
  }
 

  .education-timeline-item:nth-child(odd) {
    align-items: flex-start;
    text-align: left;
    padding-right: 0;
    margin-bottom: 5%;
  }

  .education-timeline-item:nth-child(even) {
    padding-left: 0;
    margin-bottom: 5%;
  }

  .timeline-dot {
    margin-left: -1.5%;
  }

  .timeline-body {
  }
  .timeline-date {
    font-size: 17px;
    font-weight: 700;
  }
  
  .timeline-content h3 {
    font-weight: 800;
    font-size: 22px;
  }
  
  .timeline-content p {
    font-size: 15px;
    font-weight: 500;
  }
}

@media(max-width:700px){
  .education-timeline-item:nth-child(odd){
    margin-bottom: 5rem;
  }
  .education-timeline-item:nth-child(even) {
    margin-bottom: 5rem;
  }
  .education-timeline-items{
    margin-left: 0;
  }
  .education-section-header h1{
    font-size: 3.5rem;
  }
  .timeline-dot {
    margin-left: -1.8%;
  }
  .timeline-date {
    font-size: 14px;
    font-weight: 700;
  }
  
  .timeline-content h3 {
    font-weight: 800;
    font-size: 18px;
  }
  
  .timeline-content p {
    font-size: 12px;
    font-weight: 500;
  }
  .education-timeline-items{
    height: 80vh;
  }
 
}

@media (max-width: 450px) {
  .education-timeline-item:nth-child(odd){
    margin-bottom: 2.5rem;
  }
  .education-timeline-item:nth-child(even) {
    margin-bottom: 2.5rem;
  }
  
  .timeline-dot {
    margin-left: -2.25%;
  }
 
 
  .timeline-date {
    font-size: 13px;
    font-weight: 700;
  }
  
  .timeline-content h3 {
    font-weight: 800;
    font-size: 16px;
  }
  
  .timeline-content p {
    font-size: 11px;
    font-weight: 500;
  }
}

@media (max-width: 410px) {
  
  .education-section-header h1{
    font-size: 3.25rem;
  }
  .timeline-dot {
    margin-left: -2.5%;
  }

  
  .timeline-date {
    font-size: 12px;
    font-weight: 700;
  }
  
  .timeline-content h3 {
    font-weight: 800;
    font-size: 14px;
  }
  
  .timeline-content p {
    font-size: 9px;
    font-weight: 500;
  }
}
@media(max-width:350px){
  .education-timeline-item:nth-child(odd){
    margin-bottom: 1.5rem;
  }
  .education-timeline-item:nth-child(even) {
    margin-bottom: 1.5rem;
  }
  .timeline-content{
    padding: 0.5rem 1rem;
  }
  .education-timeline-items{
    height: 80vh;
  }
 
}

/* education section end ... */

/* Project section start ... */
.project-section{
  height: 100vh;
  width: 100%;
  background-color: var(--background-color-2);
  padding: 0 6%;
}
.project-section-heading{
  padding-top: 20vh;
  height: 15vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.project-section-heading h1{
  color: var(--font-color);
  font-size: 4rem;
  font-weight: 800;
}
.project-section-content{
  height: 85vh;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.project-section-project{
  width: 25%;
  height: 75vh;
  border: 3px solid var(--theme-color);
  padding:1rem 1.4rem ;
  border-radius:10px ;
  box-shadow: 2px 4px 4px var(--theme-color);
}
.project-section-project-image{
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;
  padding:1rem 0rem ;
  align-items: center;
  background-color: var(--background-color-1);
  border-radius: 10px;
}
.project-section-project .img1{
  height: 280px;
  width: 80%;
 
}
.project-section-project .img2{
  height: auto;
  width: 80%;
 
}

.project-section-project-description{
  padding: 1rem 0 0;
  height: 22vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: var(--font-color);
}
.project-section-project-description h3{
  font-size: 18px;
  color: var(--theme-color);
  padding-bottom: 1rem;
  letter-spacing: 1px;
}
.project-section-project:hover{
  transform: scale(1.02);
  cursor: pointer;
}
.project-section-project-description p{
  font-size: 15px;
}
.project-section-project-description a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 4.5rem;
  width: 4.5rem;
  border-radius: 50%;
  border: 3px solid var(--theme-color);
}

.project-section-project-description a:hover {
  box-shadow: 0 0 25px var(--theme-color);
}
.mobile-view-project-section{
  display: none;
}
@media(max-width :900px){
  .mobile-view-project-section{
    display: block;
  }
  .project-section-content{
    display: none;
  }
  .mobile-project-section-project{
    height: 75vh;
    border: 3px solid var(--theme-color);
    width: 50rem;
    margin: auto;
    padding:1rem 1.4rem ;
    border-radius:10px ;
    box-shadow: 2px 4px 4px var(--theme-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .mobile-project-section-project-image{
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    padding:1rem 0rem ;
    align-items: center;
    background-color: var(--background-color-1);
    border-radius: 10px;
  }
  
  
  .mobile-project-section-project-image .img1{
    width: auto;
    height: 280px;
   
  }
  .mobile-project-section-project-image .img2{
    height: auto;
    width: 80%;
   
  }
  .mobile-project-section-project-description{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 25vh;
    color: var(--font-color);
  }
  
  .mobile-project-section-project-description h3{
    font-size: 30px;
    color: var(--theme-color);
    padding-bottom: 1rem;
    letter-spacing: 1px;
  }
  
  .mobile-project-section-project-description p{
    font-size: 20px;
  }
  .mobile-project-section-project-description a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 4.5rem;
    width: 4.5rem;
    border-radius: 50%;
    border: 3px solid var(--theme-color);
    cursor: pointer;
  }
  
  /*******************************************/
  * {box-sizing:border-box}
  /* .project-section-content{
    display: none;
  } */
  /* Slideshow container */
  .slideshow-container {
    display: flex;
    align-items:center;
    height: 85vh;
    justify-content: space-between;
    width: 100%;
  }
  
  /* Hide the images by default */
  .mySlides {
   display: none;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
  
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
}

@media(max-width:700px){
  .mobile-project-section-project{
    width: 25rem;
  }
  .mobile-project-section-project-description h3{
    font-size: 20px;
   
  }
  
  .mobile-project-section-project-description p{
    font-size: 15px;
  }
  .mobile-project-section-project-description a{
    height: 3.5rem;
    width: 3.5rem;
  }
}
@media(max-width:370px){
  .mobile-project-section-project{
    width: 20rem;
  }
  .mobile-project-section-project-description h3{
    font-size: 18px;
   
  }
  
  .mobile-project-section-project-description p{
    font-size: 13px;
  }
  .mobile-project-section-project-description a{
    height: 3.25rem;
    width: 3.25rem;
  }
  .mobile-project-section-project-image{
    height: 40vh;
  }
  .mobile-project-section-project-description{
    height: 27vh;
  }
  .mobile-project-section-project-image .img1{
    height: 210px;
   
  }
}
/* Project section end ... */

/* Contact section start ... */
.contact-section{
  height: 90vh;
  width: 100%;
  background-color: var(--background-color-1);
  padding: 0 6%;
}
.contact-section-heading{
  padding-top: 18vh;
  display: flex;
  width: 100%;
  height: 15vh;
  justify-content: center;
  align-items: center;
}
.contact-section-heading h1{
  color: var(--font-color);
  font-size: 4rem;
  font-weight: 800;
}
.contact-section-heading h1 span{
  color: var(--theme-color);
}

.contact-section-form{
  color: var(--font-color);
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
.contact-section-form label{
  font-size: 22px;
}
.contact-section-form input{
  font-size: 18px;
  height: 4rem;
  width: 50rem;
  padding: 2rem 2rem;
  background-color: var(--background-color-2);
  border: 3px solid var(--theme-color);
  letter-spacing: 1px;
  border-radius: 10px;
  
}

.contact-section-form .message{
  height: 15rem;
  display: flex;
  align-items: self-start;
}
.contact-section-form .message input[type="text"]::placeholder {
  vertical-align: top;
}
.contact-section-form input:focus{
  outline: none;
}
.contact-section-form button{
  width: 20rem;
 height: 4.5rem;
  background-color: var(--theme-color);
  color: var(--background-color-1);
  padding: 1rem 2rem;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact-section-form button:hover{
  transition: .3s ease;
  background-color: transparent;
  color: var(--font-color);
  box-shadow: 0 0 15px var(--theme-color), 0 0 15px var(--theme-color),
  0 0 15px var(--theme-color);  
  font-weight: 600;
}
.fa-paper-plane{
  margin-right: 7px;
}
@media(max-width:900px){
  .contact-section-heading h1{
    font-size: 3.75rem;
  }
  .contact-section-form label{
    font-size: 20px;
  }
  .contact-section-form input{
    width: 40rem;
    font-size: 16px;
  }
  .contact-section-form button{
    font-size: 17px;
  }
}
@media(max-width:700px){
  .contact-section-heading h1{
    font-size: 3.5rem;
  }
  .contact-section-form label{
    font-size: 19px;
  }
  .contact-section-form input{
    font-size: 15px;
    width: 35rem;
  }
  .contact-section-form button{
    font-size: 16px;
  }
}
@media(max-width:420px){
  .contact-section-form input{
    width: 27rem;
  }
}
@media(max-width:350px){
  .contact-section-form .message{
    height: 10rem;
  }
}
/* Contact section end ... */
/* Footer section start ... */
.footer{
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: flex-end;
  background-color: var(--background-color-2);
  padding: 1% 6%;
  font-size: 18px;
  color: var(--inbox-font-color);
  border-top: 1px solid var(--inbox-font-color);
}
@media(max-width:900px){
  .footer{
    font-size: 17px;
  }
}
@media(max-width:700px){
  .footer{
    font-size: 15px;
  }
}
@media(max-width:400px){
  .footer{
    font-size: 13px;
    padding-bottom: 5%;
  }
}
/* Footer section end ... */

/* customize AOS js components */
[data-aos="header-down"] {
  opacity: 0;
  transition-property: transform, opacity;

  &.aos-animate {
    opacity: 1;
  }

  @media screen and (min-width: 300px) {
    transform: translateY(-40px);

    &.aos-animate {
      transform: translateY(0);
    }
  }
}